{% extends 'base.html' %}

{% block title %}
<title>Партия</title>
{% endblock %}

{% block footer %}
<link rel="stylesheet" href="/static/css/game.css">
<script type="text/javascript" src="/static/js/game/board.js"></script>
<script type="text/javascript" src="/static/js/game/board_size.js"></script>
<script type="text/javascript" src="/static/js/game/piece.js"></script>
<script type="text/javascript" src="/static/js/game/move.js"></script>
<script type="text/javascript" src="/static/js/game/init.js"></script>
{% endblock %}

{% block content %}
<!-- Container for demo purpose -->
<div class="container my-5 py-5">

  <!-- Section: Design Block -->
  <section class="text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <style id="board_style">

        </style>
        <div id="board_pozition">
          <div id="board_container">
            <div id="board_rotate">
              <div id="board" style="cursor:pointer">
                <div style="height:50%">
                  <div id="board_path_top">
                    <div class="coords collum">
                      <div class="coord a">5</div>
                      <div class="coord b">6</div>
                      <div class="coord a">7</div>
                      <div class="coord b">8</div>
                      <div class="coord a">9</div>
                      <div class="coord b">10</div>
                      <div class="coord a">11</div>
                      <div class="coord b">12</div>
                    </div>
                    <div class="coords row">
                      <div class="coord b">a</div>
                      <div class="coord a">b</div>
                      <div class="coord b">c</div>
                      <div class="coord a">d</div>
                      <div class="coord b">e</div>
                      <div class="coord a">f</div>
                      <div class="coord b">g</div>
                      <div class="coord a">h</div>
                      <div class="coord b">i</div>
                      <div class="coord a">j</div>
                      <div class="coord b">k</div>
                      <div class="coord a">l</div>
                    </div>
                    <div class="size0">
                      <div class="piece_rotate" style="transform: translate(300px, 180px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(360px, 180px)">
                        <div class="bmask"></div>
                      </div>
                    </div>
                    <div class="size4">
                      <div class="piece_rotate" style="transform: translate(180px, 240px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(120px, 180px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(60px, 120px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(480px, 240px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(540px, 180px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(600px, 120px)">
                        <div class="bmask"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="overflow: hidden; height: 50%">
                  <div id="board_path_bottom">
                    <div class="coords collum">
                      <div class="coord a">1</div>
                      <div class="coord b">2</div>
                      <div class="coord a">3</div>
                      <div class="coord b">4</div>
                      <div class="coord a">5</div>
                      <div class="coord b">6</div>
                    </div>
                    <div class="coords row">
                      <div class="coord b">a</div>
                      <div class="coord a">b</div>
                      <div class="coord b">c</div>
                      <div class="coord a">d</div>
                      <div class="coord b">e</div>
                      <div class="coord a">f</div>
                      <div class="coord b">g</div>
                      <div class="coord a">h</div>
                      <div class="coord b">i</div>
                      <div class="coord a">j</div>
                      <div class="coord b">k</div>
                      <div class="coord a">l</div>
                    </div>
                    <div class="size0">
                      <div class="piece_rotate" style="transform: translate(300px, 120px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(360px, 120px)">
                        <div class="bmask"></div>
                      </div>
                    </div>
                    <div class="size4">
                      <div class="piece_rotate" style="transform: translate(180px, 60px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(120px, 120px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(60px, 180px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(480px, 60px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(540px, 120px)">
                        <div class="bmask"></div>
                      </div>
                      <div class="piece_rotate" style="transform: translate(600px, 180px)">
                        <div class="bmask"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin: 0 0 0 25px; width: 158px">
            <div data-mdb-perfect-scrollbar="true" style="position: absolute; height: 720px; border: #0a0ae3 1px solid;"
                 id="block_moves_list">
              <div id="moves_list">
              </div>
            </div>
            <!--            <div style="height: 20px; border: #0a0ae3 1px solid; display: flex; flex-direction: column;">-->
            <!--              <button onClick="size0(1)">Размер 8x8 (без центра)</button>-->
            <!--              <button onClick="size1(1)">Размер 8x8</button>-->
            <!--              <button onClick="size2(1)">Размер 10x10</button>-->
            <!--              <button onClick="size3(1)">Размер 12x12</button>-->
            <!--              <button onClick="detour_moves()">Сделать ход</button>-->
            <!--              <button onClick="rotate()">Перевернуть доску</button>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Design Block-->

</div>
<!-- Container for demo purpose -->

{% endblock %}