{% extends 'auth/login.html' %}

{% block title %}
<title>Верификация аккаунта</title>
{% endblock %}

{% block footer %}
{% endblock %}

{% block card %}
<div>
  <h4>Ожидание верификации ...</h4>
</div>
<script>
  fetch('/api/auth/verify_activation', {
    method: 'PATCH',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': 'Bearer {{token}}'
    },
    body: ''
  }).then(
    async response => ({
      status: response.status,
      body: await response.text(),
    })
  ).then(
    response => {
      response = JSON.parse(response.body)
      let h3 = document.querySelector('h4')
      if (typeof (response.is_verified) != "undefined") {
        localStorage.setItem('access_token', '{{token}}')
        localStorage.setItem('username', response.username)
        h3.innerText = 'Вы успешно подтвердили email'
      }else{
        h3.innerText = 'Ошибка верификации email'
        localStorage.removeItem('access_token')
      }
    }
  )
</script>
{% endblock %}