/* article */
h1 {
    size: 35px;
    height: 35px;
}

p {
    text-align: justify;
}

.article_board_img{
    width: 350px;
    margin: 0 auto;
    display: block;
}

/* form validate */
.is-valid~.valid-feedback, .is-invalid~.valid-feedback {
    display: block;
}

.valid-feedback, .invalid-feedback {
    display: none;
    margin-top: -.95rem;
}