{% extends 'base.html' %}

{% block title %}
<title>Присоединится к игре</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<!-- Container for demo purpose -->
<div class="container my-5 py-5">

  <!-- Section: Design Block -->
  <section class="text-center">
    <div class="row d-flex justify-content-center">

      <div class="col-md-6">
        <div class="card">
          <div class="card-body p-4">
            <div>
              Создать новую игру:
            </div>
            <form class="text-start mt-3" id="CreateGame">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="chess_variant" id="flexRadio1" value="classic"/>
                <label class="form-check-label" for="flexRadio1">Класические</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="chess_variant" id="flexRadio2" value="960"/>
                <label class="form-check-label" for="flexRadio2">Фишера 960</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="chess_variant" id="flexRadio3" value="iy"/>
                <label class="form-check-label" for="flexRadio3">Инь-ян</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="chess_variant" id="flexRadio4" value="flang"/>
                <label class="form-check-label" for="flexRadio4">Фланговая</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="chess_variant" id="flexRadio5" value="iy-flang"/>
                <label class="form-check-label" for="flexRadio5">Инь-ян / Фланговая</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="chess_variant" id="flexRadio6" value="iy-fib" checked/>
                <label class="form-check-label" for="flexRadio6">Инь-ян / Фибоначчи</label>
              </div>
              <div class="mt-3">
                <select name="color" class="select">
                  <option value="white">Белый</option>
                  <option value="black">Чёрный</option>
                  <option value="random">Произвольный</option>
                </select>
                <label class="form-label select-label">Цвет фигур</label>
              </div>

              <button type="submit" class="btn btn-primary btn-block mt-3">
                Создать
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div>
              Присоединится к созданным играм:
            </div>

            <!--            <div class="border rounded-2 p-3 mt-3 text-start">-->
            <!--              <div class="d-flex justify-content-between">-->
            <!--                <p>-->
            <!--                  Инь-ян / Фланговая <br> Белыми-->
            <!--                </p>-->
            <!--                <div class="chip chip-md">-->
            <!--                  <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"/>-->
            <!--                  John Doe-->
            <!--                  <i class="close fas fa-times"></i>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <button class="btn btn-primary btn-block mt-3">-->
            <!--                Играть-->
            <!--              </button>-->
            <!--            </div>-->


            <!--            <div class="border rounded-2 p-3 mt-3 text-start">-->
            <!--              <div class="d-flex justify-content-between">-->
            <!--                <p>-->
            <!--                  Инь-ян / Фланговая <br> Белыми-->
            <!--                </p>-->
            <!--                <div class="chip chip-md">-->
            <!--                  <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"/>-->
            <!--                  John Doe-->
            <!--                  <i class="close fas fa-times"></i>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <button class="btn btn-primary btn-block mt-3" disabled>-->
            <!--                Играть-->
            <!--              </button>-->
            <!--            </div>-->


            <div id="ListGames">
            </div>

            <div class="border rounded-2 p-3 mt-3 text-start">
              Нет доступных партий, вы можете пригласить соперников из нашего <a href="https://t.me/BuddhaChess">телеграм
              чата</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}