div.coords, div.bmask {
    display: none;
}

piece {
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-size: cover;
    will-change: transform;
    /*pointer-events: none;*/
}

piece.p {background-image: url('/static/img/game/p.svg');}
piece.r {background-image: url('/static/img/game/r.svg');}
piece.n {background-image: url('/static/img/game/n.svg');}
piece.b {background-image: url('/static/img/game/b.svg');}
piece.q {background-image: url('/static/img/game/q.svg');}
piece.k {background-image: url('/static/img/game/k.svg');}
piece.P {background-image: url('/static/img/game/P.svg');}
piece.R {background-image: url('/static/img/game/R.svg');}
piece.N {background-image: url('/static/img/game/N.svg');}
piece.B {background-image: url('/static/img/game/B.svg');}
piece.Q {background-image: url('/static/img/game/Q.svg');}
piece.K {background-image: url('/static/img/game/K.svg');}
piece.h {background-image: url('/static/img/game/h.svg');}
piece.e {background-image: url('/static/img/game/e.svg');}
piece.a {background-image: url('/static/img/game/a.svg');}
piece.g {background-image: url('/static/img/game/g.svg');}
piece.t {background-image: url('/static/img/game/t.svg');}
piece.c {background-image: url('/static/img/game/c.svg');}
piece.H {background-image: url('/static/img/game/H.svg');}
piece.E {background-image: url('/static/img/game/E.svg');}
piece.A {background-image: url('/static/img/game/A.svg');}
piece.G {background-image: url('/static/img/game/G.svg');}
piece.T {background-image: url('/static/img/game/T.svg');}
piece.C {background-image: url('/static/img/game/C.svg');}

piece.dragover {
    opacity: 0.2;
}

div.piece_rotate {
    opacity: 1;
}

div.coords {
    position: absolute;
    display: flex;
    pointer-events: none;
    user-select: none;
    text-shadow: 0 1px 2px #000;
    font-weight: bold;
}

div.coord {
    width: 60px;
    height: 60px;
    color: #ffffdd;
}

div.coords.collum {
    text-align: end;
}

/* кружок для показа возможных ходов клетке для завершения хода */
div.move-dest {
    background: radial-gradient(rgba(20, 85, 30, 0.5) 19%, rgba(0, 0, 0, 0) 20%);
}

/* клетка с которой будут ходить */
div.selected {
    background-color: rgba(20, 85, 30, 0.5);
}

/* клетка под ударом */
div.oc.move-dest {
    background: radial-gradient(transparent 0%, transparent 79%, rgba(20, 85, 0, 0.3) 80%);
}

/* Клетка под мышкой */
div.move-dest.hover {
    background: radial-gradient(rgba(20, 85, 30, 0.5) 100%, rgba(0, 0, 0, 0) 100%);
}

/* клетки показывают ходом */
div.last-move {
    background-color: rgba(0, 155, 199, 0.41);
}

#board {
    will-change: transition, height, width;
}

#board_path_top {
    will-change: transition, height;
    height: 360px;
    width: 720px;
    background-image: url('/static/img/game/board.svg');
    position: relative;
}

#board_path_bottom {
    will-change: transition, width;
    height: 360px;
    width: 720px;
    background-image: url('/static/img/game/board.svg');
    position: relative;
}

div.bmask {
    position: absolute;
    background-image: url('/static/img/game/x.svg');
    width: 60px;
    height: 60px;
    display: flex;
    pointer-events: none;
    user-select: none;
}

#moves_list {
    width: 155px;
    padding: 8px;
}

#moves_list > div {
    display: flex;
    flex-direction: row;
}

#moves_list > div > div {
    padding: 2px;
}

#board_pozition{
    position:absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 720px;
    display: flex;
    justify-content: center;
}

#board_container{
    overflow:hidden;
    width: 720px;
    height: 100%;
}

html.horizon {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 40%;
}

html.horizon nav {
    display: none;
}