<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>
    {% block title %}
    {{title}}
    {% endblock %}
  </title>
  <link rel="shortcut icon" href="/static/img/icon.webp">
  <link rel="stylesheet" href="/static/libs/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
  <link rel="stylesheet" href="/static/libs/mdb/css/mdb.min.css"/>
  <link rel="stylesheet" href="/static/libs/mdb/plugins/css/all.min.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<header>
  <nav id="sidenav-1" class="sidenav" data-mdb-hidden="false" data-mdb-accordion="true">
    <h6 class="mt-4 mb-3 text-center">Шахматы будды</h6>
    <ul class="sidenav-menu">
      <li class="sidenav-item">
        <a class="sidenav-link" href="/adminpanel/user">
          <i class="fas fa-user-graduate fa-fw me-3"></i>
          <span>Пользователи</span>
        </a>
      </li>

      <li class="sidenav-item">
        <a class="sidenav-link" href="/adminpanel/game">
          <i class="fas fa-quote-right fa-fw me-3"></i>
          <span>Игры</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid mt-2">
    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" style="position: fixed; right: 0; z-index: 100"
       id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-user-circle fa-lg"></i>
    </a>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="/adminpanel/user/edit/?pk={{current_user.pk}}">Мой
        Профиль</a></li>
      <li><a class="dropdown-item" href="/auth/logout">Выйти</a></li>
    </ul>
    <a href="/docs" style="position: fixed;right: 16px;top: 37px; z-index: 100">
      <i class="fas fa-cogs"></i>
    </a>
    <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn shadow-0 p-0 me-3 d-block d-xxl-none"
            aria-controls="#sidenav-1" aria-haspopup="true">
      <i class="fas fa-bars fa-lg"></i>
    </button>
  </div>
</header>
<main>
  <div class="container" style="max-width: 100%;">
    <section>
      <div class="card">
        <div class="card-body">
          <h1 class="h4 text-center">
            {{title}}
          </h1>
          {% block content %}

          <div class="d-flex justify-content-end">
            <a href="/adminpanel/{{app}}/edit" class="p-2">
              <button type="button" class="btn btn-primary mb-4">Добавить</button>
            </a>
            <!--            {% if app != 'lib_bookcontent' %}-->
            <!--            <a href="/api/v1/{{app.replace('_','/')}}/crud?csv=true" class="p-2">-->
            <!--              <button type="button" class="btn btn-primary mb-4">Скачать</button>-->
            <!--            </a>-->
            <!--            {% endif %}-->
          </div>
          <div id="datatable" data-mdb-loading="true" data-mdb-stripped="true" data-mdb-hover="true" data-mdb-entries="50"
               data-mdb-rows-text="Строк на странице"></div>
          {% endblock %}
        </div>
      </div>
    </section>
  </div>
</main>

{% block app %}
<script>
  const app = '{{app}}'
</script>
{% endblock %}

<script type="text/javascript" src="/static/libs/mdb/js/mdb.min.js"></script>
<script type="text/javascript" src="/static/libs/mdb/plugins/js/all.min.js"></script>

<script type="text/javascript" src="/static/js/left_nav.js"></script>
<script type="text/javascript" src="/static/js/table_view.js"></script>
<script type="text/javascript" src="/static/js/edit_page.js"></script>
</body>
</html>