{% extends 'auth/login.html' %}

{% block title %}
<title>Сброс пароля</title>
{% endblock %}

{% block card %}
<div>
  <h1 class="mb-4">Установите новый пароль</h1>
  <form  method="PATCH" action="/api/auth/password/" class="needs-validation auth">

    <div class="form-outline mb-4">
      <input type="password" id="loginPassword" class="form-control"/>
      <label class="form-label" for="loginPassword">Введите новый пароль</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="loginPassword2" class="form-control"/>
      <label class="form-label" for="loginPassword2">Повторите новый пароль</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">
      Сбросить
    </button>
  </form>
</div>

{% endblock %}
