{% extends 'auth/login.html' %}

{% block title %}
<title>Зарегистрироваться</title>
{% endblock %}

{% block card %}
<div id="pills-register">
  <h1 class="mb-4">Регистрация</h1>

  <form method="POST" action="/api/auth/register/" class="needs-validation auth">
    <!-- Username input -->
    <div class="form-outline mb-4">
      <input type="text" id="username" name="username" class="form-control" minlength="4" required/>
      <label class="form-label" for="username">Логин</label>
      <div class="invalid-feedback"></div>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" name="email" class="form-control" required/>
      <label class="form-label" for="email">Email</label>
      <div class="invalid-feedback"></div>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" name="password" class="form-control" minlength="8" required/>
      <label class="form-label" for="password">Пароль</label>
      <div class="invalid-feedback"></div>
    </div>
    <!-- Repeat Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password2" name="password2" class="form-control" minlength="8" required/>
      <label class="form-label" for="password2">Повторить пароль</label>
      <div class="invalid-feedback"></div>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">
      Зарегистрироваться
    </button>
  </form>
</div>

{% endblock %}
