{% extends 'auth/login.html' %}

{% block title %}
<title>Сброс пароля</title>
{% endblock %}

{% block card %}
<div>
  <h1 class="mb-4">Сбросить пароль</h1>
  <form method="POST" action="/api/auth/reset_password" id="authForm" class="needs-validation">

    <div class="form-outline mb-4">
      <input type="text" id="username" name="username" class="form-control" minlength="4" required/>
      <label class="form-label" for="username">Введите имя пользователя</label>
      <div class="invalid-feedback"></div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mt-4">
      Войти
    </button>
  </form>
</div>

{% endblock %}