{% extends 'auth/login.html' %}

{% block title %}
<title>Повторный запрос на подтверждение Email</title>
{% endblock %}

{% block card %}
<div>
  <h1 class="mb-4">Повторный запрос на подтверждение Email</h1>
  <form method="PATCH" action="/api/auth/verify_activation/" class="needs-validation auth">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="registerEmail" class="form-control"/>
      <label class="form-label" for="registerEmail">Логин или Email</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">
      Отправить
    </button>
  </form>
</div>

{% endblock %}